<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link type="text/css" rel="stylesheet" href="/static/menu.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/photos/logo.png" />
    <title>Menu</title>
    
    
  </head>
  <body>

    <!-- START Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
      <div class="container">

      <a class="navbar-brand text-white" href="templates/home.html">
        <img src="static/photos/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Tasker
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Image and text -->
      


        <div class="justify-content-right">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <form action="/ordersum" method="POST">
              <a class="nav-link text-white" href="{{ url_for('ordersum') }}">Cart</a>
            </form>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="templates/home.html">Logout</a>
          </li>
          
        </ul>
        </div>

      </div>
    </nav>
    <!-- END Navigation Bar -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    
    
  

    <!--START main body-->
    <!-- Tab links -->

  <div class="tab">
    <button id="default" class="tablinks" onclick="openCity(event, 'London')">Combos</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Rice Meals</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Chicken Wings</button>
  </div>


  <!-- Tab content -->
  <div id="London" class="tabcontent">
    <!-------------------------------------------------------------- START OF COMBOS ---------------------------------------------------------->
    <!-------------------- START OF ROW 1 ------------------------------>
    <ul class="ha1 row">
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          
          </button>
          <div class="info_container">
          <p>Combo 1</p>
          <p class="desc">3 Barkada Fries (Cheese, Barbecue, Sour Cream)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          
          </button>
          <div class="info_container">
            <p>Combo 2</p>
            <p class="desc">1 Barkada Flavored Fries, 20pcs Pork Siomai</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
            <p>Combo 3</p>
            <p class="desc">30pcs Siomai (10pcs each Pork, Siomai, Japanese)</p>

          </div>
        </div>
      </li>
    </ul>
    <!-------------------- END OF ROW 1 ------------------------------>



    <!-------------------- START OF ROW 2 ------------------------------>
    <ul class="ha2 row">
      
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Combo 4</p>
          <p class="desc">4pcs Cutea Burger, 10pcs Pork Siomai</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Combo 5</p>
          <p class="desc">4pcs Cutea Burger, 1 Barkada Flavored Fries</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Combo 6</p>
          <p class="desc">6pcs Cutea Burger</p>
          </div>
        </div>
      </li>

    </ul>
    <!-------------------- END OF ROW 2 ------------------------------>


    <!-------------------- START OF ROW 3 ------------------------------>
    <ul class="ha3 row">
        
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Combo 7</p>
          <p class="desc">2pcs Cutea Burger, 1 Barkada Flavored Fries, 10pcs Pork Siomai</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="/static/photos/Fried_Chicken.png" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Combo 8</p>
          <p class="desc">6pcs Cheesy Burger</p>
          </div>
        </div>
      </li>
    </ul>
    </div>
  <!-------------------------------------------------------------- END OF COMBOS ---------------------------------------------------------->


  <!-------------------------------------------------------------- START OF RICE MEALS ---------------------------------------------------------->
  <div id="Paris" class="tabcontent">
    <!-------------------- START OF ROW 1 ------------------------------>
    <ul class="ha1 row">
      <li>
        <div class="polaroid">
          
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Meryenda.jpg" alt="5 Terre" style="width:100%">
          </button>
          
          <div class="info_container">
          <p>Chicken Meal</p>
          <p class="desc">Fried Chicken, Egg and 1 Cup of Garlic Rice.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Meryenda.jpg" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
            <p>Porkchop Meal</p>
            <p class="desc">Fried Porkchop, Egg and 1 Cup of Garlic Rice.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Meryenda.jpg" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
            <p>Hotdog Meal</p>
            <p class="desc">2pcs Jumbo Hotdog, Egg and 1 Cup of Garlic Rice.</p>
          </div>
        </div>
      </li>
    </ul>
    <!-------------------- END OF ROW 1 ------------------------------>


    <!-------------------- START OF ROW 2 ------------------------------>
    <ul class="ha2 row">
      
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Meryenda.jpg" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Ham & Egg Meal</p>
          <p class="desc">2pcs. Ham, Egg and 1 Cup of Garlic Rice.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Meryenda.jpg" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>Pork Siomai Meal</p>
          <p class="desc">5pcs. Pork Siomai, Egg and 1 Cup of Garlic Rice.</p>
          </div>
        </div>
      </li>

    </ul>
    <!-------------------- END OF ROW 2 ------------------------------>

  </div>
  <!-------------------------------------------------------------- END OF RICE MEALS ---------------------------------------------------------->


  <!-------------------------------------------------------------- START OF CHICKEN WINGS ---------------------------------------------------------->
  <div id="Tokyo" class="tabcontent">
    <!-------------------- START OF ROW 1 ------------------------------>
    <ul class="ha1 row">
      <li>
        <div class="polaroid">
          
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Milktea.JPG" alt="5 Terre" style="width:100%">
          </button>

          <div class="info_container">
            <p>6 Pcs Chicken Wings</p>
            <p class="desc">Solo Flavor e.g.(Sweet BBQ, Lemon Pepper, Buffalo)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Milktea.JPG" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
            <p>12 Pcs Chicken Wings</p>
            <p class="desc">Solo Flavor e.g.(Sweet BBQ, Lemon Pepper, Buffalo)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Milktea.JPG" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
            <p>18 Pcs Chicken Wings</p>
              <p class="desc">Solo Flavor e.g.(Sweet BBQ, Lemon Pepper, Buffalo)</p>
          </div>
        </div>
      </li>
    </ul>
    <!-------------------- END OF ROW 1 ------------------------------>


    <!-------------------- START OF ROW 2 ------------------------------>
    <ul class="ha2 row">
      
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Milktea.JPG" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>6 Pcs Wing Combo</p>
          <p class="desc">Combo Flavors e.g.(Sweet BBQ & Lemon Pepper)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Milktea.JPG" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>12 Pcs Wing Combo</p>
          <p class="desc">Combo Flavors e.g.(Sweet BBQ & Buffalo)</p>
          </div>
        </div>
      </li>
      <li>
        <div class="polaroid">
          <button class="btn_addtocart" onclick="addtoCart()">
          <img src="static/photos/Milktea.JPG" alt="5 Terre" style="width:100%">
          </button>
          <div class="info_container">
          <p>18 Pcs Wing Combo</p>
          <p class="desc">Combo Flavors e.g.(Lemon Pepper & Buffalo)</p>
          </div>
        </div>
      </li>

    </ul>
    <!-------------------- END OF ROW 2 ------------------------------>

  </div>
  <!-------------------------------------------------------------- END OF CHICKEN WINGS ---------------------------------------------------------->


  

  <div id="snackbar">Added to Cart!</div>
  </body>
</html>


  
<script>
  document.getElementById("default").click()

  function openCity(evt, cityName) {
// Declare all variables
var i, tabcontent, tablinks;

// Get all elements with class="tabcontent" and hide them
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
  tabcontent[i].style.display = "none";
}

// Get all elements with class="tablinks" and remove the class "active"
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
  tablinks[i].className = tablinks[i].className.replace(" active", "");
}

// Show the current tab, and add an "active" class to the button that opened the tab
document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";
}


function addtoCart(){
var answer = window.confirm("Add this to Cart?");
if (answer) {
  var x = document.getElementById("snackbar");

  // Add the "show" class to DIV
  x.className = "show";

  // After 3 seconds, remove the show class from DIV
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
else {
  //some code
}
}
</script>