.navbar{
  background-color: rgba(0, 0, 0, 0.5);
}

.form{
    margin-top: 200px;
    margin-left: 300px;
    margin-right: 290px;
  }


.btn{
  margin-right: 30px;
  margin-top: 20px;
}
.no-acc{
  margin-top: 70px;
}

.sign-up{
  margin-top: 27px;
}
