<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/photos/logoTop.png" />
    <title>About Us</title>
    
    
  </head>
  <body>

    <!-- START Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
      <div class="container">

      <a class="navbar-brand text-white">
        <img src="static/photos/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Tasker
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Image and text -->
      
      <div class="collapse navbar-collapse justify-content-left" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form method="POST">
            <a class="nav-link text-white" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </form>
          </li>
        </ul>
        </div>

        <div class="justify-content-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form method="POST">
            <a class="nav-link text-white" href="{{ url_for('signup') }}">Sign up<span class="sr-only">(current)</span></a>
            </form>
          </li>
        </ul>
        </div>

      </div>
    </nav>
    <!-- END Navigation Bar -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <p class="about1">Hello Cutea Streat has been an establishment that has offered food and drinks since 2018. In May 2018, 
      they started selling their home and decided to have an establishment in August 2018. Hello Cutea Streat name and theme 
      of the store is inspired and derived from a one-year-old daughter of the store Owners, Mr. and Mrs. Kristoffer Ryan Baguna, 
      who loves hello kitty stuff. When the pandemic started last 2019, Hello Cutea Streat partnered with Grab and Foodpanda to have 
      more sales because people stay inside their homes and can't go out to buy in the store.
    </p>


    
    <ul class="row">
        
        <li>
          <div class="polaroid">
            <button class="btn_addtocart">
            <img src="static/photos/kath.jpg" alt="5 Terre" style="width:100%">
            </button>
            <div class="info_container">
            <p class="name">Katherine roselle B. Baltazar</p>
            <p class="profiledesc">She's the mastermind behind
                              <br>the project, started
                              <br>developing software from
                              <br>a young age, fueled by her
                              <br> love for gaming and passion
                              <br>for the latest techs.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="polaroid">
            <button class="btn_addtocart">
            <img src="static/photos/prince.jpg" alt="5 Terre" style="width:100%">
            </button>
            <div class="info_container">
            <p class="name">Prince Patrick T. Balunes</p>
            <p class="profiledesc">She's the mastermind behind
                                <br>the project, started
                                <br>developing software from
                                <br>a young age, fueled by her
                                <br> love for gaming and passion
                                <br>for the latest techs.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="polaroid">
            <button class="btn_addtocart">
            <img src="static/photos/Me.jpg" alt="5 Terre" style="width:100%">
            </button>
            <div class="info_container">
            <p class="name">Joshua A. Padrique</p>
            <p class="profiledesc">She's the mastermind behind
                                <br>the project, started
                                <br>developing software from
                                <br>a young age, fueled by her
                                <br> love for gaming and passion
                                <br>for the latest techs.</p>
            </div>
          </div>
        </li>

        <li>
            <div class="polaroid">
              <button class="btn_addtocart">
              <img src="static/photos/karen.jpg" alt="5 Terre" style="width:100%">
              </button>
              <div class="info_container">
              <p class="name">Karen J. Raquel</p>
              <p class="profiledesc">She's the mastermind behind
                                  <br>the project, started
                                  <br>developing software from
                                  <br>a young age, fueled by her
                                  <br> love for gaming and passion
                                  <br>for the latest techs.</p>
              </div>
            </div>
          </li>
  
      </ul>

</body>
</html>