<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="static/ordersummary.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="shortcut icon" href="static/photos/logo.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Cart</title>
    
    
  </head>


  <body>

    <!-- START Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-info bg-info">
      <div class="container">

      <a class="navbar-brand text-white">
        <img src="static/photos/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Tasker
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Image and text -->
      
      <div class="collapse navbar-collapse justify-content-left" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <form method="POST">
            <a class="nav-link text-white" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
            </form>
          </li>
        </ul>
        </div>

        <div class="justify-content-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" onclick="logout()">Logout<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="templates/Aboutus.html">About</a>
          </li>
        </ul>
        </div>

      </div>
    </nav>
    <!-- END Navigation Bar -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- <script src="ordersummary.js"></script> -->

    <p class="ty" id="ty">Hi {{user}}, your order is being processed. Thank you for ordering.</p>
    <!--START main body-->
    <div class="container">
        <div class="form">
          
          <div class="card">
  
            <div class="card-header bg-info text-white">
              Order Summary
            </div>
            
            <div class="card-body">
                
              {% for row in rows %}
                <ul class="ul">
                    <li>
                      <p class="fooddesc">{{row['order_quantity']}}pcs. {{row['prod_id']}}</p>
                    </li>  
                    <li>
                        <p class="price">{{row['price']}}Php</p>
                    </li>
                </ul>
              {% endfor %}

                <hr>

                <ul class="ul">
                    <li>
                        <h6 class="item-1">Cart Subtotal</h6>
                    </li>
          
                    <li>
                        <p>{{product_price}}Php</p>
                    </li>
                </ul>

                <ul class="ul">
                    <li>
                        <h6 class="item-2">Delivery Fee</h6>
                    </li>
          
                    <li class="shipping">
                        <p>59Php</p>
                    </li>
                </ul>
                <hr>
                

                <ul class="ul">
                    <li>
                        <h2 class="totaltxt">Total</h2>
                    </li>
          
                    <li class="totalval">
                        <p>{{total_price}}Php</p>
                    </li>
                </ul>
                <hr>
              


                <!--START ADD TO CART BUTTON-->
                <button class="button" onclick="deleteSummary()">Menu</button>
                <!--END ADD TO CART BUTTON-->


            </div>
          </div>
  
          
        </div>
      </div>



      <div id="snackbar">Order Placed!</div>
    <!--END main body-->
    </body>
    </html>

    <script>

function deleteSummary(){
    var message;
      var data = [
              {}
          ];

          $.ajax({
          type: "DELETE",
          url: "/deletesummary",
          data: JSON.stringify(data),
          contentType: "application/json",
          dataType: 'json',
          success: function(result) {
              message = result.message;
              if(message == "Deleted Successfully"){
                window.location.href="/menu"
              }

          } 
          });
  }



  function logout(){
    if (confirm("Are you sure you want to logout?")) {
      
      window.location.href="/";}
    else {
      
      window.location.href="/ordersum";}
}
  
    </script>